{% extends "template.html" %}
{% block content %}
<h2 class="text-white">Inversionistas</h2>
<div class="booking-form-body">
    <a href="/inversionista/registrar" class="btn btn-danger">AGREGAR</a>
    <table id="tabla" class="table text-white">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Monto de Inversión</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.apellido }}</td>
                <td>{{ item.montoI }}</td>
                <td>
                    <!-- Botón Modificar -->
                    <a href="/inversionista/registrar" class="btn btn-outline-primary btn-sm" title="Modificar">
                        <i class="fas fa-edit"></i> Modificar
                    </a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
